<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" />
    </ion-buttons>
    <ion-title>Publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-avisos []="estadoSwitch"></app-avisos> -->
  <app-avisos></app-avisos>
</ion-content>

<!-- <ion-list>
  <ion-row *ngFor="let a of avisos" class="ion-padding-top">
    <ion-col size="3">
      <ion-avatar>
        <ion-img [src]=""></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="7">
      <ion-item>
        <ion-label>
          <h2>{{ a.titulo }}</h2>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="5" class="ion-align-items-center">
      <ion-item>
        <!-- <ion-label> {{ fechaActual }} </ion-label> -->
      <!-- </ion-item>
    </ion-col>
    <ion-col size="2" class="ion-align-items-center"> -->
      <!-- <ion-buttons>
        <ion-button (click)="borrarAviso(a.ID)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button> -->
      <!-- </ion-buttons> -->
    <!-- </ion-col>
  </ion-row>
</ion-list> --> -->